/* Developed by Juno_okyo */
body {
    background-color: #111;
    padding-top: 20px
}

#txt span {
    font-family: 'Dancing Script', cursive !important;
    font-size: 50px;
    color: #fff;
    text-shadow: 1px 1px 1px #000, 3px 3px 5px blue;
    user-select: none
}

#btn-yes {
    z-index: 1
}

#btn-no {
    z-index: -1
}
