@charset "utf-8";
* {
	margin: 0;
	padding: 0;
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	user-select: none;
	--widthImage: 225px;
	--heightImage: 300px;
}
body{
	position: relative;
    background-color: #000;
    overflow: hidden;
}
dl {
	width: var(--widthImage);
	height: var(--heightImage);
	position: relative;
	margin: 150px auto 0;
	-webkit-transform-style: -webkit-preserve-3d;
	transform-style: preserve-3d;
}
dd {
	width: var(--widthImage);
	height: var(--heightImage);
	position: absolute;
	top: 0;
	left: 0;
}
img{
	border: solid 6px #fff;
	width:100%;
	height:100%;
}
dt {
	border-radius: 50%;
	width: 800px;
	height: 800px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%) rotateX(90deg) translateZ(-206px);
	background: -moz-radial-gradient(center center,farthest-side,#fff5,#0005);
	background: -webkit-radial-gradient(center center,farthest-side,#fff5,#0005);
	background: -o-radial-gradient(center center,farthest-side,#fff5,#0005);
	background: radial-gradient(center center,farthest-side,#fff5,#0005);
}
.inverteds {
	transform: scaleY(-1);
	position: absolute;
	left: 0;
	top: 370px;
	width: var(--widthImage);
	height: var(--heightImage);
	opacity:0.5;
}
.inverted {
	position: relative;
	width: var(--widthImage);
	height: var(--heightImage);

}
.inverted::before {
	content: '';
	display: block;
	position: absolute;
	width: 237px;
	height: 312px;
	top: 0;
	left: 0;
	background: -moz-radial-gradient(bottom,circle farthest-side,#0000,#000 66%);
	background: -webkit-radial-gradient(bottom,circle farthest-side,#0000,#000 66%);
	background: -o-radial-gradient(bottom,circle farthest-side,#0000,#000 66%);
	background: radial-gradient(bottom,circle farthest-side,#0000,#000 66%);
}

.content-carrousel{
    width: 100%;
    position: absolute;
    float: right;
    animation: rotar 50s infinite linear;
    transform-style: preserve-3d;
}

.content-carrousel:hover{
    animation-play-state: paused;
    cursor: pointer;
}
@keyframes rotar{
    from{
        transform: rotateY(0deg);
    } to{
        transform: rotateY(360deg);
    }
}
